<div class="container" fxLayout="row" fxLayoutAlign="start stretch">
  <div fxFlex="15%">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Contacts">
    </mat-form-field>
  </div>
  <div class="spacer"></div>
  <div fxFlex="15%">
    <a routerLink="/new/contact">
    <button mat-raised-button color="primary">
      <mat-icon aria-label="Add Contact">add</mat-icon>Add Contact
    </button>
    </a>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort matSortActive="lastName" matSortDirection="asc">

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
    <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
  </ng-container>

  <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>View/Edit</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="viewContact(element.id)">
          View Record
        </button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
